body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.header-content {
    display: flex; /* Usar flexbox para alinear los elementos */
    align-items: center; /* Centrar verticalmente */
    justify-content: space-between; /* Espacio entre elementos */
}

.foto-perfil {
    width: 100px; /* Ajusta el tamaño según necesites */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 50%; /* Hace que la imagen sea circular */
    margin-left: 20px; /* Espacio a la izquierda de la imagen */
}

.info {
    flex-grow: 1; /* Permite que el texto ocupe el espacio restante */
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
